* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
    padding: 20px;

}

.container {
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    background-color: #183a4a;

}

.square {
    width: 80px;
    height: 80px;
    margin: 10px;
    background-color: #3d88ae;
    display: flex;
    justify-content: center;
    align-items: center;
    /* font-size: 26px; */
    color: white;
    font-weight: bold;

}

.red {
    background-color: red;
}

.green {
    background-color: #61d2a4;
}

.orange {
    background-color: orange;
}